certifi==2020.6.20
chardet==3.0.4
ibm-cloud-sdk-core==1.7.3
ibm-watson==4.7.1
idna==2.10
joblib==0.17.0
numpy==1.19.4
pandas==1.1.4
PyJWT==1.7.1
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2020.4
requests==2.24.0
scikit-learn==0.23.2
scipy==1.5.4
six==1.15.0
threadpoolctl==2.1.0
urllib3==1.25.11
websocket-client==0.48.0
